:root {
  --color-bg: #F9F9F9;
  --color-text: #1A1A1A;
  --color-primary: #2B3445;
  --color-primary-dark: #1F2937;

}

/* .dark {
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
  --color-primary: #f472b6;
} */